/*****************
GENERAL
******************/

body {
  font-family: 'Roboto Slab', serif;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

a.email {
  color: black;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Source Serif', serif;
  margin: 15px 0;
  font-size: 2em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}


h3 {
  margin: 0 0 1em 0 ;
}

/*****************
HEADING
******************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%
}

#logo {
  text-align: center;
  margin: 0;
}

/*****************
NAVIGATION
******************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-size: 1.1em;
  padding: 15px 10px;
}

/*****************
FOOTER
******************/

footer {
  font-size: 0.9em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: $dark-gray;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}



/*****************
PAGE: PORTFOLIO
******************/

.details {
  font-size: 12px;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: $light-gray;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.9em;
  color: $dark-gray;
;
}

/*****************
PAGE: ABOUT
******************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 20px;
}


/*****************
PAGE: CONTACT
******************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}


#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	margin: 5px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 180px;
}

/*#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}*/

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}


#gallery li {
  -webkit-box-shadow: 10px 7px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 7px 12px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 7px 12px 0px rgba(0,0,0,0.75);
}

#gallery li img {
  max-height:200px;
  width:auto;
}


/*****************
COLORS
******************/

/* site body  */

body {
  background-color: #f4ecd2;
  color: #5d5d5d;

}

/*.container {
  background-color: #f4ecd2;
}*/

/* green header */

header {
  background: #6ab47b;
  border-color: #599a68;
}

h1, h2 {
  color: #fff;
}

/* nav background on mobile */

nav {
  background: #599a68;
}

nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */

nav a.selected, nav a:hover {
  color: #32673f;
  text-decoration: underline;
}

a {
  color: #6ab47b;
}

/*
MODALS
*/

.modal-footer a {
  margin-right: 15px;
  font-size: 1.1em;
}

/*
TRANSITIONS
*/

.wrapper, footer {
  transition: transform .6s ease-in;
  animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.slide-out-left {
  transform: translateX(-2400px);
}
