<div id="wrapper">
      <section>
        <a href="img/william.jpg">
        <img src="img/william.jpg" alt="Photo of William" class="profile-photo"></a>
        <h3>About</h3>
        <p>Nice to meet you! I'm William, and this is my web page.</p>
        <p>I'm a web developer, currently located near Washington, DC, but sometimes found in Zaragoza, Spain.</p>
        <p>These days, I'm looking for new challenges in anything related to the web and computers, including front-end work, back-end work, and data analysis (my formal training is in Economics).</p>
        <p>For a few more details, take a look at my <a href="https://drive.google.com/file/d/1GDWIvsDiN7IF4ar2hf1cjnKuqgl7yTrC/view?usp=sharing" target="_blank">résumé</a> or my <a href="https://github.com/wbruntra" target="_blank">GitHub</a> page.
      </section>
      {% include 'footer.html' %}

</div>
